<!doctype html>
<html lang="en">
<%-include('include/head-css-file.ejs')-%>
<body>
	<!--wrapper-->
	<div class="wrapper">
		<!--sidebar wrapper -->
		<%- include('./include/sidebar.ejs'); -%>
		<!--end sidebar wrapper -->
		<!--start header -->
		<%-include('./include/header.ejs')-%>
		<!--end header -->
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Home</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Add Sub Attribute</li>
							</ol>
						</nav>
					</div>
					
				</div>
				<!--end breadcrumb-->
				<div class="row">
					<div class="col-xl-12 mx-auto">
						<div class="card">
							<div class="card-header px-4 py-3">
								
							</div>
							<div class="card-body p-4">
								<% if (successMessage && successMessage.length > 0) { %>
                                    <div class="alert alert-success">
                                          <%= successMessage %>
                                    </div>
                                <% } %>
								<form class="row g-3 needs-validation" action="/add-sub-attribute" method="POST">
                                    <div class="col-md-6">
										<label for="bsValidation1" class="form-label">Enter Attribute</label>
									    <input type="text" class="form-control" id="attributeName" name="sub_attribute_name" placeholder="Enter Attribute" required>
                                    </div> 
									<div class="col-md-6">
										<label for="bsValidation1" class="form-label">Enter Sub Attribute</label>
									    <select  class="form-control" name="attributeId">
											<%
											
											   if(getAttributes !=""){
											   if (getAttributes && getAttributes.length > 0) { 
												  getAttributes.forEach((attribute) => { %>
												
												   <option value="<%= attribute._id%>"><%= attribute.attribute_name;%></option>
												   
												 
										  <% });} }%>

										</select>
                                    </div>
                                    <div class="col-md-12">
                                        
                                        <button type="submit" class="btn btn-primary px-4">Create Sub Attribute</button>
                                    </div>
                                     
                                </form>

								

			

                <h3 class="mb-0 text-uppercase">Attributes</h6>
				<hr/>
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table id="example2" class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>SNo#</th>
										<th>Attribute</th>
										<th>Delete /Edit</th>
									</tr>
								</thead>
								<tbody>
                                    <%
                                    let i=1;
                                       if(getSubAttributes !=""){
                                       if (getSubAttributes && getSubAttributes.length > 0) { 
										getSubAttributes.forEach((sAttribute) => { %>
                                         <tr> 
                                           <td><%= i++%></td>
                                           <td><%= sAttribute.sub_attribute_name;%></td>
                                           <td></td>
                                         </tr> 
                                  <% });} }%>
								</tbody>
								
							</table>
						</div>
					</div>
				</div>
							</div>
						</div>
					</div>
				</div>
				<!--end row-->

				
				<!--end row-->


			</div>
		</div>
		<!--end page wrapper -->
		<!--start overlay-->
		<div class="overlay toggle-icon"></div>
		<!--end overlay-->
		<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->
		<footer class="page-footer">
			<p class="mb-0">Copyright © 2023. All right reserved.</p>
		</footer>
	</div>
	<!--end wrapper-->

	


	<%-include('include/footer.ejs')-%>


